:root {
  --main-app-color: rgb(19, 99, 223);
  --dark-app-color: rgb(5, 41, 95);
}

body {
  margin: 0;
}

nav {
  height: 10vh;
  background-color: var(--main-app-color);
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-brand .material-symbols-rounded {
  font-size: 3rem;
}

.navbar-brand:hover {
  color: var(--dark-app-color);
}

nav .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--main-app-color);
  background-color: white !important;
}

nav .btn:hover {
  color: var(--main-app-color);
  background-color: white !important;
  transform: scale(1.02);
  transition: transform 0.25s;
}

#app {
  height: 90vh;
  margin-top: 10vh !important;
}

#products {
  margin-bottom: 2rem;
}

.card {
  height: 60vh;
}

.card .card-img-top {
  padding: 1rem;
  height: 60%;
  object-fit: contain;
}

.card .discount-rate {
  position: absolute;

  transform: rotate(15deg);
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  color: white;
  background-color: red;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.discounted {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-bottom: 0;
}

.new-price {
  text-decoration: none;
  font-size: 1rem;
}

.list-group-item-action:focus {
  background-color: var(--main-app-color);
  color: white;
}
